@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #171717;
    --light-color: #f6f6f6;
    --background-color: #f0f0f0;
    --btn-color: #053558;
}

.body {
    background-color: var(--background-color);
    font-family: 'Spectral', serif;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

/* Styling for header */
.header {
    background: var(--dark-color);
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.header__menu li {
    list-style-type: none; 
}

.header__menu a, .main a {
    text-decoration: none;
    color: inherit;
}

.header__link {
    display: inline-block;
    padding:2rem 2rem;
    height: 100%;
    margin: 0;
}

.header__link:hover, .header__link--active {
    background-color: rgba(255,255,255,.2);
}

.header__nav{
    position: relative;
}

.header__logo {
    height: 40px;
    position: absolute;
    top: 1.5rem;
    right:1.5rem;
}

.header__hamburger {
    display: none;
}

/* Here is the style for the hero */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 6px ridge var(--btn-color);
    background-image: url(/assets/photos/bed.png);
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero--room {
background-image: url(/assets/photos/bed3.png);
}

.hero--reserve {
    background-image: url(/assets/photos/bed2.png);
}

.hero__title {
    font-size: 11rem;
    font-weight: 900;
    background-image: url(/assets/photos/titleImage.png);
    background-size: cover;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.hero__subtitle {
    color: var(--dark-color);
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: rgba(255,255,255, .5);
}

/* This is the style for the index page */
.main__subtitle {
    text-align: center;
    font-size: 5.5rem;
}

.activity {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap:3rem;
}

.activity__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem;
    padding: 1rem;
    background-color: var(--light-color);
    color: var(--medium-color);
    border-radius: 1rem;
    min-height: 300px;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
}

.activity__image {
    width: 60%;
    min-width: 120px;
    background-color: var(--light-color);
    padding:.1rem;
    border-radius: 8px;
    margin:.5rem;
}

.activity__subtitle {
    font-size: 1.2rem;
}

.main__back {
    text-align: center;
    margin: 1rem;
}

/* Style for footer on index page*/
.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.footer__nav:nth-child(2), .footer__nav:nth-child(3) {
    text-align: center;
}

.footer i {
    font-size: 2rem;
    padding: .3rem;
}

/*Here is the style for the hotel room page */
.hotelroom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotelroom-image {
    width:100%;
}

.hotelroom__info {
    width: 50%;
    padding: 2rem 4rem;
    display: grid;
}

.hotelroom__subtitle {
    font-size: 1.9rem;
    margin-top:2rem;
}

.hotelroom__subtitle--small {
    font-size: 1.2rem;
}

.hotelroom__list {
    margin:0 1rem 2rem;
}

.hotelroom__reserve-btn {
    align-self: flex-end;
    justify-self: end;
    border-radius: 1rem;
    background-color: var(--btn-color);
    padding:1rem 2rem;
    margin-bottom:2rem;
}

.hotelroom__reserve-btn:hover {
    background-color: #49565f;
}

.hotelroom__info a {
    color: var(--light-color)
}

/* Style for boka page */
.form-wrapper {
    padding: 1rem;
    width: 100%;
    background-color: var(--btn-color);
    color: var(--light-color);
}
.form-wrapper {
    padding: 3rem 0;
    background-color: var(--dark-color);
    color: var(--light-color);
}
.form {
    display: grid;
    padding: 0 .6rem;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 2rem;
    justify-content: center;
}

.form__input {
    padding: 1rem;
    width:100%;
    border: none;
}

.form__search {
  align-self: flex-end;
  margin-right: .5rem;
}

input[type=submit] {
    background-color: var(--btn-color);
    color: var(--light-color);
}

input[type=submit]:hover {
    background-color: #49565f;
    cursor: pointer;
}

.fake {
    display: grid;
    justify-content: flex-end;
}
.fake__btn {
    width: 150px;
}

.booking--none {
    display: none;
}

.booking__subtitle {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.happenings, .booked-rooms__room {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3rem;
    margin: 6rem 0 3rem 0;
}

.happenings__img {
    width: 100%;
}

.happenings__info {
    padding: 0 3rem;
}
.booked-rooms__room {
    background-color: var(--light-color);
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    padding: 1.5rem;
}

.booked-rooms__img {
    width: 100%;
}

/*Media query for ipads*/
@media (max-width: 850px) {
    .hero__title {
        font-size: 7rem;
    }

    .hero__subtitle {
        margin-top: -1.5rem;
    }

    .main__subtitle {
        font-size: 3.5rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__nav:nth-child(1) { 
        align-self: center;
        text-align: center;
        order: 2;
    }
    .footer__nav:nth-child(2) {
        text-align: left;
        align-self: left;
        order: 1;
    }

    .footer__nav:nth-child(3) {
        align-self: flex-end;
        text-align: center;
        order: 3;
    }

    .form, .happenings, .booked-rooms__room {
        grid-template-columns: repeat(1,1fr);
    }

    .booking__subtitle {
        font-size: 2.4rem;
    }

    .happenings--mobile .happenings__image {
        order: 1;
    }

    .happenings--mobile .happenings__info {
        order: 2;
    }
}

/*Media query for phones*/
@media (max-width: 480px) {
    .hero__title {
        font-size: 5rem;
    }
    .hero__subtitle {
        font-size: 1.5rem;
        margin-top: 0;
    }
    .main__subtitle {
        font-size: 2.5rem;
    }

    .header {
        height: 10vh;
    }

    .header__logo {
        left:1.5rem;
    }

    .header__hamburger-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;

    }

    .header__hamburger-btn span,
    .header__hamburger-btn span::before,
    .header__hamburger-btn span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--light-color);
        transition: .8s;
    }

    .header__hamburger-btn span::before {
        content: '';
        top: -10px;
    }

    .header__hamburger-btn span::after {
        content: '';
        top: 10px;
    }

    .header__hamburger:checked ~ .header__hamburger-btn span {
        transform: rotate(45deg);
    }

    .header__hamburger:checked ~ .header__hamburger-btn span::before {
        top: 0;
    }

    .header__hamburger:checked ~ .header__hamburger-btn span::after {
        transform: rotate(90deg);
        top: 0;
    }
    .header__hamburger:checked ~ .header__menu {
        visibility: visible;
        right: 0;
        top: 10vh;
    }

    .header__menu {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        width:200px;
        transition: all .8s ease-in-out;
        right: -100%;
        top:10vh;
        border-bottom:var(--light-color) ridge 2px;
        border-left:var(--light-color) ridge 2px;
    }

    .header__link:hover, .header__link--active {
       min-width: 196px;
       text-align: center;
    }

    .hotelroom__info {
        width: 100%;
        margin: auto;
    }

    .booking__subtitle {
        font-size: 1.8rem;
    }
}